<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Book Networking <i class="fa fa-book" style="font-size:56px"></i></h1>
            <h2>Your Place to Be! If you are a Book Worm :P</h2>
            <% if(currentUser) { %>
            <p><a class="btn btn-primary btn-lg" href="/books/new">Add a New Book</a></p>
            <p><a class="btn btn-primary btn-lg" href="/books/<%=currentUser._id%>/catalogue">View My Catalogue</a></p>
            <% } else { %>
            <a href='/login'><h3>Login For More Options</h3></a>
            <% } %>
        </div>
    </header>


    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <div class="col-md-12">
            <p>
                <form action="/books" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Search Book.." class="form-control">
                        <p>Search By : 
                        <input type="radio" name="searchType" value="Name" checked> Name
                        <input type="radio" name="searchType" value="ISBN"> ISBN
                        </p>
                        <input type="submit" value="Search" class="btn btn-default">
                    </div>
                </form>
            </p>
        </div>
        <% if(books.length<1) { %>
        <div class="container">
            <h2 style="text-align:center;">Sorry No Matches Found, Please Search Again!</h2>
        </div>
        <% }  else {  %>

                <% books.forEach(function(book){ %>
                    <div class="col-md-3 col-md-6"> 
                        <div class="thumbnail book-thumbnail">
                            <img id="ind-image" src="<%=book.image %>" >
                            <div class="caption">
                                <h4><%= book.title %> </h4>
                            </div>
                            <p><a class="btn btn-primary" style="margin-top:5px;" href="/books/<%=book._id%>">More Info</a></p>
                        </div>
                    </div>    
            <% }) %> 
            <% } %>

</div>
<% include ../partials/footer %>