<% include partials/header %>
<div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="country" placeholder="Country">
            </div>
            <div class="form-group">
                <p><button class="btn btn-md btn-primary btn-block">Sign Up!</button></p>
            </div>
            <div class="form-group">
            <a class="btn text-center btn-md btn-social btn-facebook" href="/auth/facebook">
                <i class="fa fa-facebook fa-fw"></i> Sign in with Facebook</a>
            <a class="btn text-center btn-md btn-social btn-facebook" href="/auth/google">
                <i class="fa fa-google fa-fw"></i> Sign in with Google</a>
            </div>
        </form>
        <a href="/books">Go Back</a>
    </div>
</div>
<% include partials/footer %>