<% include ../partials/header %>


<% if((books!==null)&&(books.length>0)) { %>
    <% books.forEach(function(book){ %>
                <% if(book) { %>
                <div class="col-md-3 col-md-6"> 
                    <div class="thumbnail book-thumbnail">
                    <img id="ind-image" src="<%=book.image %>" >
                    <div class="caption">
                        <h4><%= book.title %> </h4>
                    </div>
                    </div>
                </div>    
                <% } else { %>
                <div class="thumbnail book-thumbnail">
                <img alt="Deleted">
                <div class="caption">
                    <h4>This Book has been Deleted </h4>
                </div>
                </div>
                <% } %>
            <% }) %> 
<% } else { %>
                <div class="container">
                    <a href="/books"><h3>No Books Found in the Catalogue, Click Here to Go Home</h3></a>
                </div>
    <% } %>

<% include ../partials/footer %>